In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
df=pd.read_csv("Housing.csv",usecols=['area','bedrooms','bathrooms','price'])
df

        price  area  bedrooms  bathrooms
0    13300000  7420         4          2
1    12250000  8960         4          4
2    12250000  9960         3          2
3    12215000  7500         4          2
4    11410000  7420         4          1
..        ...   ...       ...        ...
540   1820000  3000         2          1
541   1767150  2400         3          1
542   1750000  3620         2          1
543   1750000  2910         3          1
544   1750000  3850         3          1

[545 rows x 4 columns]

In [8]:
x=df.drop('price',axis=1)
y=df['price']

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [12]:
linear=LinearRegression()
linear.fit(x_train,y_train)

LinearRegression()

In [13]:
linear.predict(x_test)

array([ 3459604.98614916,  3776855.65892721,  3448367.13656089,
        3327310.95879032,  4753653.78300699,  4875995.16406211,
        4210988.15851822,  3605707.26966536,  3137377.99021925,
        5306337.84979401,  4462734.41925912,  3659973.83211424,
        4241493.81850601,  4195575.95797234,  4711910.27343093,
        6777312.68263205,  6311070.57866474,  3686305.14114442,
        3268870.04538383,  3810250.46658805,  5118491.408074  ,
        4411740.89295405,  4925186.06073958,  6144096.5403605 ,
        3022583.33888508,  3422035.8275307 ,  3494284.99709455,
        3877040.08190975,  7610579.57839247,  3240451.56087485,
        3400779.53564418,  3370691.31075215,  3409512.77465789,
        6190915.71570797,  3959241.89777732,  7304566.10657494,
        3376117.96699704,  6811992.69357745,  5538431.7630369 ,
        4326200.24494814,  6991105.89628375,  4044014.12021398,
        3260521.34346862,  5666935.32790888,  3710066.04360551,
        3697542.99073269,  3137377.99021925,  3623689.87678034,
        4094106.33170525,  4902645.21419625, 10518298.91758843,
        5164827.35233117,  3160336.92048608,  3494284.99709455,
        4649295.00906684,  5260354.19326581,  5517943.89671961,
        4061996.72732896,  3060152.49750354,  6628321.25144279,
        3459604.98614916,  3310613.55495989,  4540311.55107606,
        5747533.19938794,  7715256.44480883,  4312457.78478531,
        3647450.77924142,  4690203.64845138,  4010619.31255314,
        5113031.85383184,  5424822.97236774,  5875652.87578917,
        6758528.10332282,  4937325.22514165,  4010619.31255314,
        5964215.5607127 ,  5199024.13218627,  4462734.41925912,
       12549538.74218721,  6591070.83392829,  6248455.31430065,
        3770594.1324908 ,  3910017.45447483,  3060152.49750354,
        3686305.14114442,  3594469.42007709,  7271171.29891409,
        4711910.27343093,  4860901.70462019,  5415705.84488328,
        3686305.14114442,  4496129.22691997,  3005885.93505466,
        9368683.31249151,  4365439.14394964,  5501246.49288919,
        6731394.82209838,  3943829.69723144,  5634057.29796334,
        3102697.97927385,  6034278.2121782 ,  3498459.34805216,
        4302823.87958555,  3303934.59342772,  6352814.0882408 ,
        3414972.32890004,  5763846.71474762,  4428054.40831373,
        5111362.76207655])

In [16]:
y_test

333    3920000
84     6510000
439    3255000
396    3500000
161    5460000
        ...
100    6230000
344    3850000
176    5250000
244    4550000
15     9100000
Name: price, Length: 109, dtype: int64